@import "../../../assets/mixins.scss";

mat-list-item:focus {
  background-color: transparent;
}

.nav-container {
  height: 100vh;

  .nav {
    // position: fixed;
    background-color: $primary;
    overflow: hidden;

    .expand-menu-btn {
      padding-left: 16px;
    }
    .svg-icon {
      width: 32px;
      height: 32px;
    }
    .app-name {
      text-align: center;
      padding-left: 4%;
      padding-top: 16%;
    }
    .nav-left-expanded {
      width: auto;
    }

    .nav-right {
      height: 100%;
    }
  }

  .edit-apps {
    text-align: center;
    border-top: 1px solid grey;
    margin: 12%;
    padding-top: 8%;
  }
}

.home,
.home:focus {
  background-color: $secondary;
}
.linkedin,
.linkedin:focus {
  background-color: $linkedin-background;
}
.deviant,
.deviant:focus {
  background-color: $deviant;
}

@media only screen and (max-width: 1200px) {
  :hover {
    background: transparent;
  }
  .nav-container {
    .nav {
      min-width: 5%;

      .expand-menu-btn {
        display: none;
      }
      .app-name {
        display: none;
      }
    }
  }

  .home,
  .home:focus {
    background-color: $secondary;
  }
  .ln,
  .ln:focus {
    background-color: $linkedin-background;
  }
  .deviant,
  .deviant:focus {
    background-color: $deviant;
  }
}
