<div class="nav-bar">
  <mat-drawer-container class="nav-container" autosize>
    <mat-drawer
      #drawer
      mode="side"
      opened
      class="nav"
      [class]="!showFiller ? 'nav-left' : 'nav-left-expanded'"
    >
      <mat-nav-list class="apps-list">
        <a
          #routeElement
          *ngFor="let route of appRoutes"
          mat-list-item
          [routerLink]="route.path"
          [ngClass]="route.isActive ? 'tab' : ''"
          (click)="setToCurrentSelection(route.path)"
        >
          <mat-icon
            *ngIf="route.path && route.isInNavigationBar === true"
            class="svg-icon"
            [svgIcon]="route.path"
          ></mat-icon>

          <p class="app-name" *ngIf="showFiller">{{ route.label }}</p>
        </a>
      </mat-nav-list>

      <div class="edit-apps">
        <mat-icon class="svg-icon" aria-hidden="false" (click)="openDialog()"
          >edit</mat-icon
        >
      </div>

      <a class="expand-menu-btn position-bottom">
        <mat-icon
          class="svg-icon"
          aria-hidden="false"
          (click)="showFiller = !showFiller"
          >chevron_right</mat-icon
        >
      </a>
    </mat-drawer>

    <div class="sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
