@import "../../../../assets/mixins.scss";

.wrapper {
  width: 80px;
  height: 80px;
}
img {
  position: relative;
  height: 64px;
  border-radius: 50%;
  z-index: -1;
  background: $primary;
  left: 2%;
}
.icon {
  position: relative;
  width: 48px;
  font-size: 36px;
  left: 52%;
  top: -104%;
}

.add {
  color: rgb(0, 140, 255);
}
.remove {
  color: red;
}
