@import "../../../../assets/mixins.scss";

.wrapper {
  width: 80px;
  height: 80px;
}
img {
  height: 64px;
  border-radius: 24%;
  z-index: -1;
  background: $primary;
  left: 2%;
}
.icon {
  position: relative;
  width: 48px;
  font-size: 32px;
  left: 52%;
  top: -96%;
  padding: 4%;
}

.add {
  color: rgb(0, 140, 255);
}
.remove {
  color: red;
}
