@import "../../../../assets/mixins.scss";

.icon-container {
  width: 80px;
  height: 80px;

  .svg-img {
    height: inherit;
    width: inherit;
  }
  .icon {
    position: relative;
    width: 100%;
    font-size: 24px;
    left: 80%;
    top: -96%;
    padding: 4%;
  }

  .add {
    color: rgb(0, 140, 255);
  }
  .remove {
    color: red;
  }
}

@media only screen and (max-width: 760px) {
  .icon-container {
    width: 54px;
    // height: 76px;
  }
}
