$nav-bar-size: 56px;

$linkedin-background: #0e76a8;
$deviant: #7E907F;

// Mocha: #514c4a | Earl Grey: #a4998c | Orange: #c78a44 | Honey: #d8b26e | Soft Grey: #dad5d2
$primary: #dad5d2;
$secondary: #d8b26e;
$accent-light:  #c78a44;
$accent-dark: #514c4a;